<h1>Inscripció proves atletisme</h1>
<section>
  <h1>Dades identificatives</h1>
  <label>DNI: <input type="text" [(ngModel)]="dni" /> </label>
  <p>{{ this.findLetter() }}</p>
  <label
    >Codi de federat: <input type="text" [(ngModel)]="codiFederat" />
  </label>
  <label>Nom i cognoms: <input type="text" [(ngModel)]="nomCognom" /> </label>
  <label>Telèfon: <input type="text" [(ngModel)]="telefon" /> </label>
  <label>Email: <input type="email" [(ngModel)]="email" /> </label>
</section>

<section>
  <h1>Inscripció</h1>
  <label *ngFor="let option of options; let i = index">
    <input
      type="checkbox"
      [value]="option.value"
      [checked]="isSelected(option.name)"
      (change)="onCheckboxChange(option, $event)"
    />{{ option.name }}
  </label>
</section>

<button [disabled]="this.isDisabled()">Register</button>
